<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!-- cnn chua tong hop <add name="MPDataAccess.Properties.Settings.moneypacific_securityConnectionString"
            connectionString="Data Source=alex-pc;Initial Catalog=moneypacific_security;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
      
      <!-- cnn tong hop -->
        
      <!--<add name="MPDataAccess.Properties.Settings.moneypacific_security_finalConnectionString"
            connectionString="Data Source=ALEX-PC;Initial Catalog=moneypacific_security_final;User ID=sa;Password=admin"
            providerName="System.Data.SqlClient" />-->

      <!-- cnn cho server ovh -->
      <add name="MPDataAccess.Properties.Settings.moneypacific_security_finalConnectionString"
           connectionString="Data Source=KS306535;Initial Catalog=moneypacific_security_final;Persist Security Info=True;User ID=sa;Password=@dmin123"
           providerName="System.Data.SqlClient" />

      <!--<add name="moneypacific_blackboxConnectionString" 
           connectionString="Data Source=KS306535;Initial Catalog=moneypacific_blackbox;Persist Security Info=True;User ID=sa;Password=@dmin123"-->
           
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
