<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SimpleLinqToSQL.Properties.Settings.mpdbConnectionString"
            connectionString="Data Source=Alex-Pc;Initial Catalog=mpdb;Persist Security Info=True;User ID=sa;Password=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>