body  {
	

	background: #666666;
	margin: 0; 
	padding: 0;
	text-align: center;
	color: #534741;
}
.mppacific #container { 
	width: 80%;  
    background:url(images/bg.png);
	
	margin: 0 auto; 
	border: 1px solid #000000;
	text-align: left;
	font: 100% Verdana, Arial, Helvetica, sans-serif; 
} 
.mppacific #header { 
	padding: 0 10px; 
	height: 210px;
	background:url(images/header-bg.png);

} 
.mppacific #header-left { 
	color: red; 
	float: left;
	 width: 50%; 
	height: 150px;
}
.mppacific #header-left img{ 
	margin-top: 20px; 
	margin-left: 40px;
	border: 1px solid white;
	width:147px;
	height:147px;
	float:left;
}

.mppacific #header-right { 
	float: left;
	width: 50%;
	height: 150px;
}
.mppacific #header h1 {
	margin: 0; 
	padding: 10px 0; 
}

.mppacific #sidebar1 {
	float: right; 
	width: 12em; 
	background: #c7b299;
	padding: 15px 0; 
	margin-right:40px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width:260px;
	font-size:12px;
}
.mppacific #sidebar1 h3, .mppacific #sidebar1 p {
	margin-left: 10px; 
	margin-right: 10px;
}

.mppacific #Content {
	margin: 0 0 0 50px; 
	background: #FFFFFF;
	width:650px;
	float:left;
	font-size:12px;
} 

.mppacific #Content p,h1,h2,p{
	margin-left:40px;
	margin-top:10px;
} 
.mppacific #Content h1,h2
{
    font-size:14px;
}


.mppacific #footer { 
	padding: 0 10px; 
	background:#faa61a;
	height:100px;
	margin-top:20px;
	
} 
.footerinfo
{
	float:left;
	width:70%;
	text-align:center;
	font-weight:bold;
	margin-top:15px;
	font-size:12px;
	color:white;
}
.footerinfo ul
{
	list-style-type:none;
}
.footerinfo ul li
{
	display:inline;
	padding-right:10px;
}
.footerinfo ul li a
{
	color:white;
	text-decoration:none;
}
.footerinfo ul li a:hover
{
	color: #6C3600;
}
.footerbox
{
	float:left;
	text-align:left;
	margin-left:25px;
}



.fltrt  
{
    float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
#logo
{

}
#webmerchant
{
margin-top: 20px; 
margin-left: 42px; 
text-align: center;
}
#webmerchant p
{
font-size: 26px; 
color: #6b6259; 
font-weight: bold; 
}

#login
{
	text-align: right;
	margin-right: 40px;
	padding-bottom: 10px;
	margin-top: 2px;
	color:#FFFFFF;
	font-size:12px;
}
#box
{
	margin-right: 40px; 
	background: none repeat scroll 0pt 0pt #C7B299;
	 height: 45px; 
	
	
}
#box p
{
	
	margin:0 0 0 10px;
	
	
}
#headerRinfo
{
	margin-top: 10px;
	margin-right: 40px;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	color: #6b6259; 
}
#menu
{
height: 30px; float: right; text-align: right; color: White; font-weight: bold; width: 800px;
}

/* navigation menu */
.nav-container-outer{
padding: 0px;
height: 46px;
width:800px;
float:right;
margin-top:-20px;
margin-right:40px;
}
.float-left{
float: left;
}
.float-right{
float: right;
}
.nav-container .divider{
display:block;
font-size:1px;
border-width:0px;
border-style:solid;
}
.nav-container .divider-vert{
float:left;
width:0px;
display: none;
}
.nav-container .item-secondary-title{
display:block;
cursor:default;
white-space:nowrap;
}
.clear{
font-size:1px;
height:0px;
width:0px;
clear:left;
line-height:0px;
display:block;
float:none;
}
.nav-container{
position:relative;
zoom:1;
margin: 0 auto;
}
.nav-container a, .nav-container li{
float:left;
display:block;
white-space:nowrap;
}
.nav-container div a, .nav-container ul a, .nav-container ul li{
float:none;
}
.nav-container ul{
left:-10000px;
position:absolute;
}
.nav-container, .nav-container ul{
list-style:none;
padding:0px;
margin:0px;
float:right;
}
.nav-container li a{
float:none
}
.nav-container li{
position:relative;
}
.nav-container ul{
z-index:10;
}
.nav-container ul ul{
z-index:20;
}
.nav-container ul ul ul{
z-index:30;
}
.nav-container ul ul ul ul{
z-index:40;
}
.nav-container ul ul ul ul ul{
z-index:50;
}
li:hover>ul{
left:auto;
}
#nav-container ul {
top:100%;
}
#nav-container ul li:hover>ul{
top:0px;
left:100%;
}

/* menu Items */	
#nav-container a{	
padding:7px 17px 7px 18px;
margin: 10px 0px 0px 0px;
color: #FFFFFF;
font-family: Trebuchet MS, Arial, sans-serif, Helvetica;
font-size:14px;
text-decoration:none;
font-weight: bold;
background-repeat: no-repeat;
background-position: top;
}

#nav-container a:hover{
/*color: #6C3600;*/
color:#534741;
background-repeat: no-repeat;
background-position: center;
}

/* Secondary Items Container */	
#nav-container div, #nav-container ul{	
padding:10px 4px 10px 4px;
margin:0px 0px 0px 0px;
background-repeat: repeat-x;
background-color: #f68728;
border: 1px solid #CA6500;
}

/* Secondary Items */	
#nav-container div a, #nav-container ul a{	
padding:3px 10px 3px 6px;
background-color: #FFFFFF;
background: url(images/item-secondary-bg.jpg);
background-repeat: no-repeat;
background-position: 0px 22px;
font-size:11px;
border-width:0px;
border-style:none;
margin: 0px 0px 0px 0px;
width: 149px;
}

/* Secondary Items Hover State */	
#nav-container div a:hover, #nav-container ul a:hover{	
background-color: #FFFFFF;
background: url(images/item-secondary-bg.jpg);
background-repeat: no-repeat;
color:#CC0000;
}

/*^'^ Secondary Item Titles ^'^*/	
#nav-container .item-secondary-title{	
cursor:default;
padding:4px 0px 3px 7px;
color: #6C3600;
font-family: Arial, Trebuchet MS, Arial, sans-serif, Helvetica;
font-size:11px;
background-repeat: no-repeat;
font-weight:bold;
}

/* Horizontal Dividers */	
#nav-container .divider-horiz{	
border-top-width:1px;
margin:5px 5px;
border-color: #C16100;
}

/*^'^ Vertical Dividers ^'^*/	
#nav-container .divider-vert{	
border-left-width:1px;
height:15px;
margin:4px 2px 0px 2px;
border-color:#AAAAAA;
}

.bar
{
	width:93%;
	height:2px;
	background:#FFFFFF;
	float:left;
	margin-top:6px;
	margin-left:40px;

	
}
/* place css fixes for all versions of IE in this conditional comment */
.mppacific #sidebar1 { padding-top: 30px; }
.mppacific #mainContent { zoom: 1; padding-top: 15px; }
/* the above proprietary zoom property gives IE the hasLayout it may need to avoid several bugs */



.tableindex td
{
    text-indent: 5px;
    padding-bottom:5px;
    padding-top:5px;
    padding-right:40px;
}

.tableindex th
{
   padding-right:40px;
}
.tableindex ul
{
    list-style-type:none;
}
.tableindex li
{
    padding-top:5px;
    padding-bottom:5px;
    
}
.tableindex
{ 
   
    border-collapse: collapse;
    border-spacing: 0px; 
    margin-left:80px;
} 




.tableindex2 td
{
    text-indent: 5px;
    padding-bottom:5px;
    padding-top:5px;
    padding-right:40px;
}

.tableindex2 th
{
   padding-right:40px;
   background-color:Orange;
}
.tableindex2 ul
{
    list-style-type:none;
}
.tableindex2 li
{
    padding-top:5px;
    padding-bottom:5px;
    
}
.tableindex2
{ 
   
    border-collapse: collapse;
    border-spacing: 0px; 
    margin-left:40px;
    width:615px;
} 










input
{
color: #6B6259;
background: #fee3ad;
border: 1px solid #781351
}

.submit input
{
color: #000;
background: #ffa20f;
border: 2px outset #d7b9c9
} 


fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #F37032;
    width:300px;
    margin-left:30px;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"],select
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
    color:#534741;
}
.error
{
    color:Red;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
    margin-left:40px;
    margin-top:20px;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

.button, input[type=submit]
{
	
	
border:1px solid #534741;
color:#FFFFFF;
display:inline-block;
font-size:12px;
height:24px;
line-height:24px;
margin-right:10px;
padding:0 6px;
text-decoration:none;
background-color:#F37032;
font-family:Trebuchet MS,Arial,sans-serif,Helvetica;
font-weight:bold;
    
}
.button a
{
	color: #fff !important;
	text-decoration:none;
	
	
}
.moneyavailble
{
   margin-left:80px;
   font-weight:bold;
   
}
.money
{
    margin-left:30px;
}

.tdindex1
{
    padding-right:100px;
    padding-bottom:5px;
}

.tableindex1
{
    margin-left:80px;
}
.spanviewmoneyIndex
{
    float: right; margin-right: 200px;
}
.tablesetpm
{
    margin-left:10px;
    margin-top:0px;
}
.tablesetpm td
{
    padding-top:5px;
    padding-bottom:5px;
    
}
.margin-left15
{
    margin-left:15px;
}