<?xml version="1.0" encoding="Windows-1252" ?>
<configuration>
	<appSettings/>
	<connectionStrings>
  <add name="MoneyPacificConnectionString" connectionString="Data Source=Alex-PC;Initial Catalog=MoneyPacific;Persist Security Info=True;User ID=sa;Password=admin"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
  <!--add name="MoneyPacificConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\MoneyPacific.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" /-->
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Windows"/>
		<!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="MyBasicHttpBinding">
     <security>
      <transport clientCredentialType="Basic" />
     </security>
    </binding>
   </basicHttpBinding>
  </bindings>
  <services>
   <service behaviorConfiguration="MoneyPacificSrv.MainBehavior"
    name="MoneyPacificSrv.Main">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MyBasicHttpBinding"
     contract="MoneyPacificSrv.IMain">
     <identity>
      <dns value="localhost" />
     </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
  </services>
    
		<behaviors>
			<serviceBehaviors>
    
        <behavior name="MoneyPacificSrv.MainBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
				
    	</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
